.product-card {
  height: 420px;
  width: 654px;
  margin: 50px auto;
}



.product-img-cont {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img-cont img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
  text-align: left;
}

.product-name {
  text-align: left;
}

.product-detail {
  text-align: justify;
}
