.body-wrapper {
  padding: 20px;
  margin: 10px;
}



.card-wrapper {
  /* border: 3px solid pink; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.product-wrapper {
  /* flex-basis: 33.333%; */
  width: 38rem;
  height: 40rem;
  /* border: 2px solid black; */
}


.image-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30rem;
}

.product-picture {
  height: 80%;
  width: 80%;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product--link {
  text-decoration: none;
  color: gray;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 10rem;
  margin-left: 3rem;
  margin-top: 0;
}

.pro-description{
  float: left;
  overflow: visible;
  margin-bottom: 1rem;
}

.pro-title {
  font-size: medium;
  margin-bottom: 1rem;
}


.first-product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  margin: 8rem 11rem;
  padding: 3rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.first-img-cont {
  margin: 1rem 1rem 1rem 1rem;
  flex: 50%;
}

.first-img {
  object-fit: fill;
  border-radius: 1rem;
}

.first-details-cont {
  float: left;
  flex: 50%;
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.first-details {
  text-align: justify;
  margin-bottom: 1.5rem;
}

.first-heading {
  margin-bottom: 1.5rem;
}
