.product-card {
  height: 420px;
  width: 1000px;
  margin: 50px auto;
}



.product-img-cont {
  float: left;
  height: 420px;
  width: 650px;
}

.product-img-cont img {
  border-radius: 7px 0 0 7px;
  width: max-width;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
  text-align: left;
}

.product-name {
  text-align: left;
  margin-bottom: 1.5rem;
}

.product-detail {
  text-align: justify;
  margin-bottom: 1.5rem;
}

.product-link {
  text-decoration: none;
  color: black;
}
