.add-btn, .more-btn, .send-btn, .go-btn {
  background: #139DF2;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: bold;
}

.add-btn:hover, .more-btn:hover, .send-btn:hover, .go-btn:hover {
  background: white;
  color: #139DF2;
  border: 2px solid #139DF2;
  cursor: pointer;
}
.edit-btn {
  background: #04BF7B;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: bold;
}
.edit-btn:hover {
  background: white;
  color: #04BF7B;
  border: 2px solid #139DF2;
  cursor: pointer;

}
.delete-btn {
  background: salmon;
  margin-left: 1rem;
}
.delete-btn:hover {
  background: white;
  color: salmon;
  border: 2px solid salmon;
  cursor: pointer;
}

.plus-sign {
  margin-left: 0.3rem;
  color: white;
}

.add-btn:hover .plus-sign {
  color: #139DF2;
}

.back-btn {
  margin-left: 15rem;
}
